DynamiXervices/DynamicWCFServiceApp/Config/avea.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://payment.avea.com.tr/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://payment.avea.com.tr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://payment.avea.com.tr/">
      <s:element name="DoPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:AveaPaymentRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AveaPaymentRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MSISDN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="DoPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoPaymentResult" type="tns:AveaPaymentResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AveaPaymentResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ResultCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DoPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:DoPayment" />
  </wsdl:message>
  <wsdl:message name="DoPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:DoPaymentResponse" />
  </wsdl:message>
  <wsdl:portType name="AveaSoap">
    <wsdl:operation name="DoPayment">
      <wsdl:input message="tns:DoPaymentSoapIn" />
      <wsdl:output message="tns:DoPaymentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AveaSoap" type="tns:AveaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoPayment">
      <soap:operation soapAction="http://payment.avea.com.tr/DoPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AveaSoap12" type="tns:AveaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoPayment">
      <soap12:operation soapAction="http://payment.avea.com.tr/DoPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Avea">
    <wsdl:port name="AveaSoap" binding="tns:AveaSoap">
      <soap:address location="http://localhost:38857/Avea2.asmx" />
    </wsdl:port>
    <wsdl:port name="AveaSoap12" binding="tns:AveaSoap12">
      <soap12:address location="http://localhost:38857/Avea2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>