DynamiXervices/DynamicWCFServiceApp/Config/turkcell-axis.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.invoice.turkcell.com.tr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.invoice.turkcell.com.tr" xmlns:intf="http://service.invoice.turkcell.com.tr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.invoice.turkcell.com.tr" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="pay">
    <complexType>
     <sequence>
      <element name="request" type="impl:PaymentRequest"/>
     </sequence>
    </complexType>
   </element>
   <complexType abstract="true" name="RequestBase">
    <sequence>
     <element name="requestDate" nillable="true" type="xsd:dateTime"/>
     <element name="requestId" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Money">
    <sequence>
     <element name="amount" type="xsd:double"/>
     <element name="currency" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="PaymentInfo">
    <sequence>
     <element name="invoiceNumber" nillable="true" type="xsd:string"/>
     <element name="payment" nillable="true" type="impl:Money"/>
    </sequence>
   </complexType>
   <complexType name="SubscriberInfo">
    <sequence>
     <element name="fullName" nillable="true" type="xsd:string"/>
     <element name="identityNumber" nillable="true" type="xsd:string"/>
     <element name="msisdn" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="PaymentRequest">
    <complexContent>
     <extension base="impl:RequestBase">
      <sequence>
       <element name="paymentInfo" nillable="true" type="impl:PaymentInfo"/>
       <element name="subscriberInfo" nillable="true" type="impl:SubscriberInfo"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <element name="payResponse">
    <complexType>
     <sequence>
      <element name="payReturn" type="impl:PaymentResponse"/>
     </sequence>
    </complexType>
   </element>
   <complexType abstract="true" name="ResponseBase">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
     <element name="requestId" nillable="true" type="xsd:string"/>
     <element name="responseDate" nillable="true" type="xsd:dateTime"/>
     <element name="resultCode" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="PaymentResponse">
    <complexContent>
     <extension base="impl:ResponseBase">
      <sequence>
       <element name="paymentCode" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="payResponse">

      <wsdl:part element="impl:payResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="payRequest">

      <wsdl:part element="impl:pay" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PaymentService">

      <wsdl:operation name="pay">

         <wsdl:input message="impl:payRequest" name="payRequest">

       </wsdl:input>

         <wsdl:output message="impl:payResponse" name="payResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PaymentServiceSoapBinding" type="impl:PaymentService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="pay">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="payRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="payResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PaymentServiceService">

      <wsdl:port binding="impl:PaymentServiceSoapBinding" name="PaymentService">

         <wsdlsoap:address location="http://localhost:8080/Axis/services/PaymentService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>